
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="@Url.Action("Show", "Products")" class="link-primary">Show</a> <br />
<a href="@Url.Action("Remove", "Products")" class="link-primary">Remove</a>
<br />
<br />
<img src="/products/ImageUrl" />


